<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/planned-meals">Mój jadłospis</a>
      </li> -->
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Mój jadłospis
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/planned-meals">Zarządzaj</a>
          <a class="dropdown-item" href="/show-planned-meals">Pokaż</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/??????">Kreator posiłków</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/??????">Moje postępy</a>
      </li>
      <button type="button" class="btn btn-secondary btn-sm nav-item mr-sm-2" (click)="goBack()">Wstecz</button>
    </ul>
  </div>
</nav>