<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let date of procededDates;">
      <div *ngIf="getPlannedDayObjectOfDate(date); let day else elseBlock">
        <div class="card border-secondary mb-3">
          <div class="card-header">{{day.mealsDate | date:'dd.MM.yyyy'}}</div>
          <div class="card-body text-secondary">
            <p class="card-text">
              Śniadanie: {{day.dayMeals.breakfast.name}} <br>
              Drugie śniadanie: {{day.dayMeals.brunch.name}} <br>
              Obiad: {{day.dayMeals.dinner.name}} <br>
              Podwieczorek: {{day.dayMeals.tea.name}} <br>
              Kolacja: {{day.dayMeals.supper.name}} <br>
            </p>
          </div>
          <div class="card-footer">Kalorie: {{day.dayMeals.calories}}
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary" (click)="edit(day)">Edit</button>
              <button type="button" class="btn btn-secondary" (click)="delete(day)">Usuń</button>
              <button type="button" class="btn btn-secondary" (click)="showDetails(day)">Szczegóły</button>
            </div>
          </div>
        </div>
      </div>
      <ng-template #elseBlock>
        <div class="card border-secondary mb-3">
          <div class="card-header">{{date | date:'dd.MM.yyyy'}}</div>
          <div class="card-body text-secondary">
            <p class="card-text">
              Nie dodano zestawu posiłków na ten dzień
            </p>
          </div>
          <div class="card-footer">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary"
                [routerLink]="['/add-day-meals', userId, date | date:'yyyy.MM.dd']">Dodaj</button>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>