<div class="wrapper fadeInDown">
  <div id="formContent">
	<h2 >Zaloguj się</h2>
    <form (submit)="login()">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" [(ngModel)]="credentials.username">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="hasło" [(ngModel)]="credentials.password">
      <input type="submit" class="fadeIn fourth" value="Log In">
	</form>
	<p class="text-secondary">W celu przetestowania aplikacji zaloguj się za pomocą:</p>
	<p class="text-secondary">Login - test</p>
	<p class="text-secondary">Hasło - test</p>
  </div>
</div>